**/__pycache__/
*.egg-info

*.cursor
*.cursorrules
logs/**
.vscode/**
.git_info/**
outputs/**
wandb/**
assets/**
agile/data/policy/eval/**

**/exported/**

*IO_descriptors.yaml

fallen_states_cache/

CLAUDE.md
